.{
  margin: 0px;
  padding: 0px;
}


.container {
  background-color: rgb(127, 13, 24);
  height: 700px;
  width: 600px;
  display:flex;
  flex-wrap: wrap;
  border-radius: 2rem;
  box-shadow: 10px 10px 35px #9b9696 ;
  overflow: hidden;
  
}

h1 {
  font: 2em sans-serif;
  font-style: oblique;
}

.aHistory {
  color: antiquewhite;
  font-style: italic;
  font-size:medium;
  width: 340px;
  border-radius: 1rem;
  margin-top: -1rem;
}

.mechanical{
  margin-left: 1rem;
  margin-top: 2rem;
  width: 200px;
  height: 250px;
  border-radius: 2rem;
 
}

.automatic{
  margin-left: 1rem;
  margin-right: 2rem;
  width: 200px;
  height: 250px;
  border-radius: 2rem;

}
.mHistory {
  color: antiquewhite;
  font-size:medium;
  font-style: italic;
  width: 350px;
  margin-left: 1rem;
  border-radius: 1rem;
}
